<!--create_home-->
{% extends 'base_user.html' %}


{% block content %}
<div class="jumbotron">
	<form method="POST">
		{{form.hidden_tag()}}

		<div class="row">
			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.origin.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.origin(required=False, class="form-control-lg") }}
						{% for error in form.origin.errors %}
							<ul>
								<span class="alert alert-warning" role="alert">*{{ error }}</span>
							</ul>
						{% endfor %}
					</div>

				</div>
			</div>
			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.material.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.material(required=False, class="form-control-lg") }}   <!--required= False when DataRequired message is custom-->
				            {% for error in form.material.errors %}
								<ul>
									<span class="alert alert-warning" role="alert">*{{ error }}</span>
								</ul>
							{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.project.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.project(required=False, class="form-control-lg") }}   <!--required= False when DataRequired message is custom-->
				            {% for error in form.project.errors %}
								<ul>
									<span class="alert alert-warning" role="alert">*{{ error }}</span>
								</ul>
							{% endfor %}
					</div>
				</div>
			</div>
			</div>



		<div class="form-check float-right">
			<input class="form-check-input" type="checkbox" id="disabledFieldsetCheck">
			<label class="form-check-label" for="disabledFieldsetCheck">
			Mantener seleccion
			</label>
		</div>
	</form>
</div>

{% endblock %}