<!--create_home-->
{% extends 'base_user.html' %}

{% block content %}


<form class="needs-validation" novalidate method="POST">
	<div class="jumbotron mb-2 py-3 pb-5">
		<div class="mb-3">
			<h4 class="text-center">Crear viaje</h4>
		</div>
		{{form.hidden_tag()}}
		<div class="row">
			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.origin.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.origin(required=False, class="form-control-lg") }}
						{% for error in form.origin.errors %}
							<script>
								$('#origin').addClass('is-invalid')
							</script>
							<div class="invalid-feedback text-left">{{ error }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.material.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.material(required=False, class="form-control form-control-lg") }}   <!--required= False when DataRequired message is custom-->
				            {% for error in form.material.errors %}
								<script>
									$('#material').addClass('is-invalid')
								</script>
								<div class="invalid-feedback text-left">{{ error }}</div>
							{% endfor %}
					</div>
				</div>
			</div>

			<div class="col-lg">
				<div class="d-flex flex-row form-group">
					<div class="col-3 mr-2 pl-0">
						{{ form.project.label(class="col-form-label-lg")}}
					</div>
					<div>
						{{ form.project(required=False, class="form-control form-control-lg") }}   <!--required= False when DataRequired message is custom-->
				            {% for error in form.project.errors %}
								<script>
									$('#project').addClass('is-invalid')
								</script>
								<div class="invalid-feedback text-left">{{ error }}</div>
							{% endfor %}
					</div>
				</div>
			</div>
			</div>

		<!-- Default switch -->
		<div class="form-check row float-right" style="margin-right: 8px;">
			<label for="keepselection" class="form-check-label">Mantener selección</label>
		    <input id="keepselection" checked class="form-check-input" type="checkbox" data-toggle="toggle"
		         data-on="Si" data-off="No" data-style="ios">
		</div>

	</div>
	<div class="jumbotron py-3">
		<div class="row">
			<div class="col-lg">
				<div class="row flex-nowrap form-group justify-content-center align-items-center">
					<div class="col-auto p-2">
						{{ form.truck.label(class="col-form-label-lg float-right")}}
					</div>
					<div class="col-auto p-2">
						{% if form.truck.choices == [] %}
							<h4><span class="text-wrap badge badge-secondary" style="width:10rem">No hay camiones disponibles</span></h4>
						{% else %}
							{{ form.truck(required=False, class="form-control form-control-lg") }}
								{% for error in form.truck.errors %}
									<script>
										$('#truck').addClass('is-invalid')
									</script>
									<div class="invalid-feedback text-left">{{ error }}</div>
								{% endfor %}
						{% endif %}

					</div>
				</div>
			</div>

		<div class="form-group col-lg align-self-center">
			<input class="btn btn-primary btn-lg btn-block" id="submit" name="submit" type="submit"
			       value="{{ form.submit.label.text }}" {% if form.truck.choices  == [] %}disabled{% endif %}>
		</div>
	</div>

	</div>

</form>

<script>

<!--Load preselected values on select when page is loaded-->
	if(localStorage.getItem('keep_selection_value') == 'true' ){
		$('#keepselection').bootstrapToggle('on');
		$('#origin').val(localStorage.getItem('origin_selection'));
		$('#material').val(localStorage.getItem('material_selection'));
		$('#project').val(localStorage.getItem('project_selection'));
		$('#origin, #material, #project').prop('disabled','true');

	}else{
		$('#keepselection').bootstrapToggle('off');
	}

<!--Save values of selectt fields to local storage and disable fields when toogle button is turned on-->
	$('#keepselection').change(function() {
		localStorage.setItem('keep_selection_value', $('#keepselection').prop('checked'));

		if($('#keepselection').prop('checked')){
			if($('#origin').val()==null  || $('#material').val()==null || $('#project').val()==null) {
				$('#keepselection').bootstrapToggle('off')
				swal('Debes seleccionar todos los campos','','warning');
				}else{

				localStorage.setItem('origin_selection', $('#origin').val());
				localStorage.setItem('material_selection', $('#material').val());
				localStorage.setItem('project_selection', $('#project').val());
				$('#origin, #material, #project').prop('disabled','true');
				}
		}else{
			$('#origin, #material, #project').removeAttr('disabled');
		}
	});

	$('form').bind('submit', function () {
		$('#origin, #material, #project').removeAttr('disabled');
	});

	$(function(){
		$('.form-control').click(function(){
			$(this).removeClass('is-invalid');
		});
	});
</script>


{% endblock %}