<!--list_home-->
{% extends 'base_user.html' %}

{% block content %}

<style>

.trunc{
  width:280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.complete-style{
    color: #28a745;
    font-weight: bold;
}

.canceled-style{
    color: #dc3545;
    font-weight: bold;
}

</style>

<ul class="nav nav-pills my-3 nav-justified" id="pills-tab" role="tablist" style="font-size: 1rem;">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-inprogress-tab" data-toggle="pill" href="#inprogress-pill" role="tab" aria-controls="pills-inprogress" aria-selected="true" >En Proceso</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-finalized-tab" data-toggle="pill" href="#finalized-pill" role="tab" aria-controls="pills-finalized" aria-selected="false">Finalizados</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="inprogress-pill" role="tabpanel" aria-labelledby="pills-inprogress-tab">
		<table class="table table-striped table-responsive table-condensed table-sm"
		       style="font-size:.8rem">
	      <thead>
	        <tr class="text-center">
	          <th class="align-middle">#</th>
	          <th class="align-middle">Camion</th>
			  <th class="align-middle">Chofer</th>
		      <th class="align-middle">Origen</th>
	          <th class="align-middle">Material</th>
	          <th class="align-middle">mts<sup>3</sup></th>
	          <th class="align-middle">Destino</th>
	          <th class="align-middle">Enviado por</th>
	          <th class="align-middle">Fecha/Hora Envio</th>
		      <th class="align-middle">Comentario Envío</th>
	        </tr>
	      </thead>
	      <tbody>
	      {% for trip in in_progress_trips %}
	       <ul>
			<tr class="text-center">
				<td class="align-middle">{{trip['trip_id']}}</td>
				<td class="align-middle">{{trip['truck']}}</td>
				<td class="align-middle">{{trip['driver']}}</td>
				<td class="align-middle">{{trip['origin']}}</td>
				<td class="align-middle">{{trip['material']}}</td>
				<td class="align-middle">{{trip['amount']}}</td>
				<td class="align-middle">{{trip['destination']}}</td>
				<td class="align-middle">{{trip['sender_user']}}</td>
				<td class="align-middle">{{trip['sent_datetime']}}</td>
				<td class="align-middle"><div class="trunc">{{trip['sender_comment']}}</div></td>

			</tr>
	       </ul>
	      {% endfor %}

	      </tbody>
	    </table>
	</div>


	<!--Finalized table-->
	<div class="tab-pane fade" id="finalized-pill" role="tabpanel" aria-labelledby="pills-finalized-tab">

		<table class="table-responsive table table-striped table-sm"  id="finalized_table"
			data-toggle="table"
			data-sortable="true"
			data-buttons-align="right"
			data-search="true" data-search-align="right" data-show-search-clear-button="true"
			data-show-columns="true" data-show-columns-search="false" data-show-columns-toggle-all="true"
			data-filter-control="true"
			data-ajax="tripsRequest"
			data-side-pagination="client"
			data-pagination="true"  data-page-size=25 data-page-list="[25, 50, 100, 200, All]" data-pagination-v-align="top"
			style="font-size:.8rem"
  
			>
		  <thead>
		  <tr class="text-center align-middle">
			<th class="align-middle" data-field="trip_id" data-halign="center" data-align="center" data-sortable="true" data-filter-control="input">#</th>
			<th class="align-middle" data-field="type"  data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Tipo</th>
			<th class="align-middle" data-field="status" data-halign="center" data-align="center" data-cell-style="statusStyle" data-sortable="true" data-filter-control="select">Estado</th>
			<th class="align-middle" data-field="truck" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Camión</th>
			<th class="align-middle" data-field="driver" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Chofer</th>
			<th class="align-middle" data-field="material" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select"
				data-filter-data=url:{{url_for('trips.get_distinct_values')+"?field=material"}}	
				>Material</th>

			<th class="align-middle" data-field="amount" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">mts<sup>3</sup></th>
			<th class="align-middle" data-field="origin" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select"
				data-filter-data=url:{{url_for('trips.get_distinct_values')+"?field=origin"}}	
				>Origen</th>
			<th class="align-middle" data-field="destination" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select"
				data-filter-data=url:{{url_for('trips.get_distinct_values')+"?field=destination"}}	
				>Destino</th>
			<th class="align-middle" data-field="distance" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Kms</th>
			<th class="align-middle" data-field="client" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Cliente</th>
			<th class="align-middle" data-field="sender_user" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Envió</th>
			<th class="align-middle" data-field="sent_datetime" data-halign="center" data-align="center"  data-sortable="true" data-filter-control="input">Fecha/Hora Envío</th>
			<th class="align-middle" data-field="sender_comment" data-halign="center" data-align="center" data-filter-control="input">Comentario Envío</th>
			<th class="align-middle" data-field="finalizer_user" data-halign="center" data-align="center" data-sortable="true" data-filter-control="select">Finalizó</th>
			<th class="align-middle" data-field="finalized_datetime" data-halign="center" data-align="center" data-sortable="true" data-filter-control="input">Fecha/Hora Finalizado</th>
			<th class="align-middle" data-field="finalizer_comment" data-halign="center" data-align="center" data-filter-control="input">Comentario Recibo</th>

		  </tr>
		  </thead>
		</table>
	  </div>
</div>

<script>

	function tripsRequest(params){
		var url = "{{url_for('trips.completed_trips_cs')}}"
      $.get(url + '?' + $.param(params.data)).then(function (res) {
      params.success(res)
    })
    }

    // FORMATTERS
    function deleteFormatter(value) {
      return [
        `<button class="btn btn-pill btn-danger delete-button" type="button"  data-trip-id=${value} style="font-size: .8rem;margin-left: 5px;margin-right: 1px;">`,
        '<span class="fa fa-trash-o"></span>',
        '</button>'
      ].join('')
  }

  function statusStyle(value){
      if (value==='Completo'){
        return {classes: 'complete-style'}
      }else if (value ==='Cancelado'){
        return {classes: 'canceled-style'}
      }
    }


  $(function() {
	$('#finalized_table').bootstrapTable('refreshOptions', {iconSize: 'sm'});

	let export_button = ` 
	<div class="export btn-group">
		<a class="btn btn-secondary btn-sm" href="{{url_for('trips.trips_csv')}}" aria-label="Export" type="button" title="Exportar viajes" aria-expanded="false">
		<i class="fa fa-download" aria-hidden="true"></i>
		</a>
	</div>`

	$('.fixed-table-toolbar .columns .btn-group').append(export_button)  


	$('.animation-wrap').hide()
	$('.loading-text').text('Cargando viajes').attr('font-size: 1.5rem;')
	$('.loading-wrap').append('<i class="fa fa-spinner fa-spin fa-fw fa-2x"></i>')

	})
</script>

{% endblock %}