<!--login-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Cursa Acarreo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='app_images/cursa_logo_new_700_whitebkg.png') }}">
</head>

<body class="text-center" data-gr-c-s-loaded="true">

<!--This is to display flash messages-->

{% for mess in get_flashed_messages() %}

	<div class="alert alert-primary alert-dismissible fade show mb-0" role="alert">
	  <strong>{{ mess }}</strong>
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>

{% endfor %}


<div class="jumbotron d-flex align-items-center min-vh-100">
		<form novalidate method="POST" style="width: 100%; max-width: 330px; padding: 15px; margin: auto;">
			{{form.hidden_tag()}}
			<img class="mb-4 rounded" src={{url_for('static', filename='app_images/cursa_logo_new_700.png')}} alt="" width="96" height="96">
			<h1 class="h3 mb-3 font-weight-normal">Ingresa tu credenciales</h1>

			{{ form.username(required=True, class="form-control", placeholder="Usuario")}}
				{% for error in form.username.errors %}
					<script>
						$('#username').addClass('is-invalid')
					</script>
					<div class="invalid-feedback text-left mb-2">{{ error }}</div>

				{% endfor %}
			{{form.password(required=True, class="form-control", placeholder="Contraseña") }}
				{% for error in form.password.errors %}
					<script>
						$('#password').addClass('is-invalid')
					</script>
					<div class="invalid-feedback text-left">{{ error }}</div>

				{% endfor %}

			<!--<div class="checkbox my-3">-->
			<!--<label>-->
			  <!--<input type="checkbox" value="remember-me"> Recordarme-->
			<!--</label>-->
			<!--</div>-->
			<br>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
			<p class="mt-5 mb-3 text-muted">Cursa Acarreo v1.3.0</p>
 
		</form>

	<script>
	$(function(){
		$('.form-control').click(function(){
			$(this).removeClass('is-invalid');
		});
	});
	</script>

</div>

</body>

</html>