<!--receive_home-->
{% extends 'base_user.html' %}

{% block content %}

<h2>En proceso</h2>
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th># Viaje</th>
	          <th>Recibir</th>
              <th>Camion</th>
              <th>Material</th>
              <th>Cantidad</th>
              <th>Obra</th>
	          <th>Banco</th>
	          <th>Enviado por</th>
              <th>Fecha/Hora Envio</th>
            </tr>
          </thead>
          <tbody>
          {% for trip in in_progress_trips %}
           <ul>
			<tr>
				<td>{{trip['trip_id']}}</td>
				<td><a href="{{url_for('trips.receive', trip_id=trip['trip_id'])}}" class="btn btn-primary">Recibir</a></td>
				<td>{{trip['truck']}}</td>
				<td>{{trip['material']}}</td>
				<td>{{trip['amount']}}</td>
				<td>{{trip['project']}}</td>
				<td>{{trip['origin']}}</td>
				<td>{{trip['sender_user']}}</td>
				<td>{{trip['sent_datetime']}}</td>


			</tr>
           </ul>
          {% endfor %}

          </tbody>
        </table>
      </div>

<!-- Modal for confirmation -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Recibir viaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Desea recibir viaje #XXX
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-danger">Delete</button>-->
      </div>
    </div>
  </div>
</div>



{% endblock %}