<!--receive_home-->
{% extends 'base_user.html' %}

{% block content %}

<style>
	.confirmation-table tr td{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.confirmation-table tr th{
		padding-top: 8px;
		padding-bottom: 8px;
	}

</style>

<script src="{{ url_for('static', filename='js/plugins/html5-qrcode.min.js') }}"></script>

<!-- <button id="test-btn">Test</button> -->
<div class="d-flex align-items-center flex-column bd-highlight mb-3" >
	<div id="qr-reader" style="width:320px;"></div>
	<!-- <div id="qr-reader-results"></div> -->
	<button class="btn btn-primary" id="receive-scan-btn">
		<div><i class="fa fa-qrcode fa-4" aria-hidden="true" style="font-size: 3rem;"></i> </div>
		Recibir viaje
	</button>
	<button class="btn btn-secondary btn-lg mt-0" id="cancel-scan-btn" hidden><i class="fa fa-times" aria-hidden="true" style="font-size: 1rem;"></i> Cancelar</button>
</div>

<div class="jumbotron pt-2 px-2">
<h4 class="text-center">En proceso <span class="badge badge-pill badge-secondary"> {{ in_progress_trips|length }} viajes</span>
</h4>

<div class="table-responsive table-hover">
	<table class="table table-sm">
		<thead>
			<th></th>
			<th class="text-center">#</th>
			<th class="text-center">Camión</th>
			<th class="text-center">Destino</th>


		</thead>

		<tbody class="accordion" id="accordiontable">
			{% for trip in in_progress_trips %}
				<ul>
					<tr class="clickable"  style="background-color: #dfe2e5">
						<td class="align-middle" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">
							<i class="fa fa-plus-square" id="icon{{trip['trip_id']}}" aria-hidden="true" style="color:gray"></i></td>
						<td class="align-middle text-center" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">{{trip['trip_id']}}</td>
						<td class="align-middle text-center" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}" nowrap>{{trip['truck']}}</td>
						<td class="align-middle text-center" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">{{trip['destination']}}</td>
					</tr>
					<tr>
						<td colspan="4">
							<div id="accordion{{trip['trip_id']}}" class="collapse" data-parent="#accordiontable">
								<table class="table table-borderless" style="width: 90%; margin: 0px auto;">

									<tr>
										<th class="font-weight-bold"># Viaje</th>
										<td>{{trip['trip_id']}}</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Origen:</th>
										<td>{{trip['origin']}}</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Material</th>
										<td>{{trip['material']}}</td>
									</tr>
									<tr>
										{% if trip['is_trip_by_weight'] %}
											<th class="font-weight-bold">Peso:</th>
											<td>{{trip['weight_in_kg'] / 1000 if trip['weight_in_kg'] is not none else ""}} t</td>
										{% else %}
											<th class="font-weight-bold">Volumen:</th>
											<td>{{trip['amount'] if trip['amount'] is not none else ""}} mts3</td>
										{% endif %}
									</tr>
									<tr>
										<th class="font-weight-bold">Enviado por:</th>
										<td>{{trip['sender_user']}}</td>
									</tr>
									<tr>
										<th class="text-nowrap font-weight-bold">Hora de Envío:</th>
										<td>{{trip['sent_datetime'] | formatdate_mx }}</td>
									</tr>
									
									<tr>
									{% if current_user.role in ['admin', 'supervisor']%}
										<th>
											<button type="button" class="btn btn-primary receive-complete-button"
													value="{{trip['trip_id']}}"
													style="font-size: .75rem;">
												Recibir viaje</button>
										</th>
									{% endif %}
										<td>
											<button type="button" class="btn btn-secondary reprint-btn" id="reprint-btn-{{trip['trip_id']}}"
											style="font-size: .75rem;"
											data-trip_id={{trip['trip_id']}}
											onclick="reprintTicket(`{{trip['trip_id']}}`)">
											<span class="fa fa-print"></span>
											Re-imprimir ticket</button>
										</td>
									</tr>
									{% if current_user.role in ['admin', 'supervisor']%}
									<tr>
										<th>
											<button type="button" class="btn btn-danger receive-cancel-button"
											        style="font-size: .75rem; width: 94px;"
											        value="{{trip['trip_id']}}" nowrap>
												<span class="fa fa-ban"></span>
												Cancelar viaje</button>
										</th>
									</tr>
									{% endif %}
								</table>


							</div>
						</td>

					</tr>
				</ul>

			{% endfor %}
		</tbody>
	</table>
</div>

<!-- CONFIRMATION Modal -->
<style>
	.mandatory:before{
			content:'*';
			color: #d41616;
			}
	

</style>

<div class="modal fade" id="receive-confirmation-modal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:10px; padding-bottom:10px; background-color: lightgrey;">
        <h5 class="modal-title text-center" id="receive-modal-header"></h5>
        <button type="button" id="receive-modal-close" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:1rem;padding-top: 10px;padding-bottom: 10px;">
	        <p id="cancel-icon-p" class="text-center" style="margin-bottom: 0px;">
				<i class="fa fa-exclamation-circle fa-5" aria-hidden="true" style="font-size:4rem; color:#ffc107"
				></i>
			</p>
	      <table class="table table-borderless confirmation-table" style="width: 90%; margin: 0px auto; padding: .3rem;">
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Camión:</th>
				<td id="receive-modal-truck" style="padding-left: .3rem;"></td>
			</tr>
			<tr class="confirmation-row">
				<th class="font-weight-bold" style="padding-right:0 ;">Origen: </th>
				<td id="receive-modal-origin" style="padding-left: .3rem;"></td>
			</tr>
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Material: </th>
				<td id="receive-modal-material" style="padding-left: .3rem;"></td>
			</tr>
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Destino:</th>
				<td id="receive-modal-destination" style="padding-left: .3rem;"></td>
			</tr>
			<tr id="receive-modal-distance-row">
				<th id="receive-modal-distance-label" class="font-weight-bold mandatory" style="padding-right:0 ;">Kms:</th>
				<td style="padding-left: .3rem;">
					<input id="receive-modal-distance"
						   class="form-control col-4"
						   type="number" min="0" max="9999" pattern="[0-9]*" inputmode="numeric"
						   placeholder="0-9999">
					<div class="invalid-feedback text-left">Ingresa valor del 0 al 9999</div>
				</td>
			</tr>
		</table>
	      {% if current_user.role in ['admin', 'supervisor', 'creator']%}
	      <div class="form-group mt-2 mb-0">
		      <label class="font-weight-bold" for="receive-modal-comment" style="font-size:1rem">Agregar comentario:</label>
		      <textarea id="receive-modal-comment" maxlength="100" name="receive-modal-comment" placeholder="Máximo 100 caracteres" style="font-size:1rem; width: 306px; height: 72px; "></textarea>
	      </div>
		  {% endif %}

	    <button class="btn btn-primary btn-lg btn-block py-3" id="receive-modal-complete-btn" value=""></button>

		</div>
    </div>
  </div>
</div>

</div>

<div></div>
<script src="{{ url_for('static', filename='js/tripScripts.js') }}"></script> 
<script src="{{ url_for('static', filename='js/receiveScripts.js') }}"></script>
<script>
	// Reprint function
	async function reprintTicket(tripID) {

		try{
			const ticketRes = await $.get("{{ url_for('trips.get_trip_ticket') }}", {trip_id: tripID});
			printImage(ticketRes.ticket_b64);
		}catch(error){
			swal(`ERROR: No se pudo imprimir ticket.\nDetalle: ${error.responseText}`, '', 'error');
		}		
	};

	$(function () {

		// Add event listener to Reprint buttons to display Loader
		document.querySelectorAll('.reprint-btn').forEach(item=>item.addEventListener('click',
		(click)=>{
			displayLoader(click.target.closest('.reprint-btn'), ' ', 'sm', 'afterbegin')
			setTimeout(clearLoader,4000)
		}))

		$('.collapse').on('show.bs.collapse', function () {
			var id = $(this).attr('id').replace("accordion","");
			$("#icon"+id).attr('class','fa fa-minus-square')
		});

		$('.collapse').on('hide.bs.collapse', function () {
		  var id = $(this).attr('id')
		  var id = $(this).attr('id').replace("accordion","");
		  $("#icon"+id).attr('class','fa fa-plus-square')
		});

	// <!--Remove invalid class when selector is clicked-->
		$('#receive-modal-distance').click(function(){
			$(this).removeClass('is-invalid');
		});

	});
</script>

{% endblock %}