<!--receive_home-->
{% extends 'base_user.html' %}

{% block content %}

<style>

</style>


<div class="jumbotron pt-2 px-2">
<h4 class="text-center">En proceso <span class="badge badge-pill badge-primary"> {{ in_progress_trips|length }} viajes</span>
</h4>

<div class="table-responsive table-hover">
	<table class="table table-sm">
		<thead>
			<th></th>
			<th class="text-center">Camión</th>
			<th class="text-center">Destino</th>
			<th class="text-center">Recibir</th>

		</thead>

		<tbody class="accordion" id="accordiontable">
			{% for trip in in_progress_trips %}
				<ul>
					<tr class="clickable"  style="background-color: #dfe2e5">
						<td class="align-middle" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">
							<i class="fa fa-plus-square" id="icon{{trip['trip_id']}}" aria-hidden="true" style="color:gray"></i></td>
						<td class="align-middle text-center" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">{{trip['truck']}}</td>
						<td class="align-middle text-center" data-toggle="collapse" data-target="#accordion{{trip['trip_id']}}">{{trip['destination']}}</td>
						<td class="align-middle text-center">
							<button type="button" class="btn btn-primary confirmation_button"
							        value="{'trip_id': '{{trip['trip_id']}}','truck': '{{trip['truck']}}',
							        'origin': '{{trip['origin']}}','material': '{{trip['material']}}',
							        'destination': '{{trip['destination']}}' }">
								Recibir viaje #{{trip['trip_id']}}</button></td>

					</tr>
					<tr>
						<td colspan="3">
							<div id="accordion{{trip['trip_id']}}" class="collapse" data-parent="#accordiontable">
								<table class="table table-borderless" style="width: 90%; margin: 0px auto;">

									<tr>
										<th class="font-weight-bold"># Viaje</th>
										<td>{{trip['trip_id']}}</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Origen:</th>
										<td>{{trip['origin']}}</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Material</th>
										<td>{{trip['material']}}</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Cantidad:</th>
										<td>{{trip['amount']}} mts3</td>
									</tr>
									<tr>
										<th class="font-weight-bold">Enviado por:</th>
										<td>{{trip['sender_user']}}</td>
									</tr>
									<tr>
										<th class="text-nowrap font-weight-bold">Hora de Envío:</th>
										<td>{{trip['sent_datetime'] | formatdate_mx }}</td>
									</tr>
									{% if current_user.is_admin%}
									<tr>
										<th>
											<button type="button" class="btn btn-danger cancellation_button"
											        style="font-size: .75rem;"
											        value="{'trip_id': '{{trip['trip_id']}}','truck': '{{trip['truck']}}',
											        'origin': '{{trip['origin']}}','material': '{{trip['material']}}',
											        'destination': '{{trip['destination']}}' }">
												<span class="fa fa-ban"></span>
												Cancelar Viaje</button>
										</th>
									<td>

									</td>
									</tr>
									{% endif %}

								</table>


							</div>
						</td>

					</tr>
				</ul>

			{% endfor %}
		</tbody>
	</table>
</div>

<!-- CONFIRMATION Modal -->
<div class="modal fade" id="receiveConfirmationModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:10px; padding-bottom:10px; background-color: lightgrey;">
        <h4 class="modal-title text-center" id="modalHeader"></h4>
        <button type="button" id="close_button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:1.2rem">
	        <p id="cancel-icon-p" class="text-center"><i class="fa fa-exclamation-circle fa-5" aria-hidden="true" style="font-size:4rem; color:#ffc107"></i></p>
	      <table class="table table-borderless" style="width: 90%; margin: 0px auto; padding: .3rem;">
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Camión:</th>
				<td id="truck_row" style="padding-left: .3rem;"></td>
			</tr>
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Origen: </th>
				<td id="origin_row" style="padding-left: .3rem;"></td>
			</tr>
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Material: </th>
				<td id="material_row" style="padding-left: .3rem;"></td>
			</tr>
			<tr>
				<th class="font-weight-bold" style="padding-right:0 ;">Destino:</th>
				<td id="destination_row" style="padding-left: .3rem;"></td>
			</tr>
		</table>
	      {% if current_user.is_admin%}
	      <div class="form-group mt-2 mb-0">
		      <label class="font-weight-bold" for="receiver_comment" style="font-size:1rem">Agregar comentario:</label>
		      <textarea id="receiver_comment" maxlength="100" name="receiver_comment" placeholder="Máximo 100 caracteres" style="font-size:1rem; width: 306px; height: 72px; "></textarea>
	      </div>
	      {% endif %}

		</div>


      <div class="modal-footer">
	      <button class="btn btn-primary btn-lg btn-block py-3" id="complete_trip_button"
	             value=""></button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
	$(function () {

		var trip_dict
		$('.confirmation_button, .cancellation_button').click(function(){
			trip_dict = JSON.parse($(this).val().replace(/"/g,"\\\"").replace(/'/g,"\""));
			console.log($(this))
			if ($(this).hasClass("confirmation_button")){
				console.log("In confirmation");
				$('#modalHeader').text("Recibir viaje: #" + trip_dict.trip_id);
				$('#complete_trip_button').css({"background-color": "#007bff","border-color": "#007bff", "color": "white"});
				$('#cancel-icon-p').attr("hidden","hidden")
				$('#complete_trip_button').text("Recibir Viaje")
				$('#complete_trip_button').val("complete")

				}
			else if ($(this).hasClass("cancellation_button")){
				console.log("In cancellation");
				$('#modalHeader').text("¿Seguro que desea cancelar viaje: #" + trip_dict.trip_id + "?");
				$('#complete_trip_button').css({"background-color": "#dc3545","border-color": "#dc3545", "color": "white"});
				$('#cancel-icon-p').removeAttr("hidden")
				$('#complete_trip_button').text("Cancelar Viaje")
				$('#complete_trip_button').val("canceled")

				}
			$('#origin_row').text(trip_dict.origin);
			$('#material_row').text(trip_dict.material);
			$('#destination_row').text(trip_dict.destination);
			$('#truck_row').text(trip_dict.truck);
			$('#receiveConfirmationModal').modal('show');
		});

		function finalizeTrip(trip_id,status, comment) {
		    var return_of_func
			var send = {trip_id: trip_id,
						status: status,
			            finalizer_comment: comment};
			$.post("{{ url_for('trips.receive') }}", send, function(return_val){
				if(return_val == 'success'){
					location.reload()
				}else{
					swal(return_val,'','error');
				}

			});
		}

		$('#complete_trip_button').click(function(){
			console.log('value of status: ', $(this).val())
			finalizeTrip(trip_dict.trip_id, $(this).val(), $('#receiver_comment').val());
			$('#complete_trip_button').attr('disabled','true');
		});

		$('#cancel_trip_button').click(function(){
			finalizeTrip(trip_dict.trip_id,'cancel', $('#receiver_comment').val());
			$('#complete_trip_button').attr('disabled','true');
		});

		$('.collapse').on('show.bs.collapse', function () {
			var id = $(this).attr('id').replace("accordion","");
			$("#icon"+id).attr('class','fa fa-minus-square')
		});

		$('.collapse').on('hide.bs.collapse', function () {
		  var id = $(this).attr('id')
		  var id = $(this).attr('id').replace("accordion","");
		  $("#icon"+id).attr('class','fa fa-plus-square')
		});

	});
</script>

{% endblock %}