<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

	<!--<div>{{ form.material.label }}{{form.material(required=False) }}-->
            <!--{% for error in form.material.errors %}-->
				<!--<ul>-->
					<!--<span class="alert alert-warning" role="alert">*{{ error }}</span>-->
				<!--</ul>-->
			<!--{% endfor %}-->
	<!--</div>-->

	<!--<div>{{ form.project.label }}{{form.project }}-->
            <!--{% for error in form.project.errors %}-->
				<!--<ul>-->
					<!--<span class="alert alert-warning" role="alert">*{{ error }}</span>-->
				<!--</ul>-->
			<!--{% endfor %}-->
	<!--</div>-->

	<!--<div>{{ form.origin.label }}{{form.origin }}-->
            <!--{% for error in form.origin.errors %}-->
				<!--<ul>-->
					<!--<span class="alert alert-warning" role="alert">*{{ error }}</span>-->
				<!--</ul>-->
			<!--{% endfor %}-->
	<!--</div>-->

	<!--<div>{{ form.destination.label }}{{form.destination }}-->
            <!--{% for error in form.destination.errors %}-->
				<!--<ul>-->
					<!--<span class="alert alert-warning" role="alert">*{{ error }}</span>-->
				<!--</ul>-->
			<!--{% endfor %}-->
	<!--</div>-->


</body>
</html>