<!-- admin_users.html -->
{% extends '/admin_panel/admin_base.html' %}

{% block content %}


<div id="toolbar">
    <button class="btn btn-pill btn-success" type="button" data-toggle="modal" data-target="#largeModal" style="font-weight: 500;">
        <i class="fas fa-plus"></i> 
        <span class="d-none d-md-inline">Agregar</span>
      </button>
</div>

<div>
    <table class="table table-responsive-sm table-striped" 
        data-toolbar="#toolbar"
        data-toggle="table" 
        data-sortable="true"
        data-pagination="true"
        data-search="true"
        data-show-search-clear-button="true"
        data-show-toggle="true"
        >
        <thead>
          <tr>
            <th data-sortable="true">Usuario</th>
            <th data-sortable="true">Nombre</th>
            <th data-sortable="true">Correo</th>
            <th data-sortable="true">Rol</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user['username'] }}</td>
            <td>{{ user['name'] }} {{ user['last_name'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['role'] }}</td>
            <td>
                <div class="row align-items-center justify-content-around flex-nowrap" style="margin-left: 0px; margin-right: 0px;">
                    <button class="btn btn-pill btn-info" type="button" style="font-size: .5rem;margin-left: 1px;margin-right: 1px;">
                        <span class="fa fa-pencil"></span>
                    </button>

                    <button class="btn btn-pill btn-danger" type="button"
                    style="font-size: .5rem;margin-left: 1px;margin-right: 1px;">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Usuario</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>

        <iframe src="{{ url_for('admin.user_create_edit') }}" frameborder="0" style="width: 700px; height: 500px;"></iframe>

      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>



<script>
    $(function(){
        // Remove "table-bordered"
        document.querySelector('table.table').classList.remove('table-bordered')

        // Form validation 
        const username = document.getElementById('username');
        const usernameError = document.getElementsByClassName('invalid-feedback')[0]
        const confirmBtn = document.getElementById('confirm-btn')
        confirmBtn.addEventListener('click', ()=>{
            if (username.validity.valueMissing){
                username.setCustomValidity("Ingresa un valorssss");
                usernameError.innerText="Valor requerido"
                username.classList.add('is-invalid')
            } else{
                username.setCustomValidity("");
            }
        })


    })
</script>

{% endblock %}