<!-- user_add_edit.html -->
{% extends '/admin_panel/admin_base.html' %}

{% block content %}
<style>
	.mandatory:before{
			content:'*';
			color: #d41616;
	}
}
</style>
<div><h3 style="margin-top: 8px;margin-left: 12px;margin-bottom: 0px;">
	{% if action == 'edit' %} Editar Usuario
	{% else %} Crear Usuario
	{% endif %}
</h3></div>
<form id="form" method="POST" novalidate autocomplete="false">
	{{ form.hidden_tag()}}
	<div class="modal-body">
		<div class="row">
		<div class="form-group col-sm-6">
			<label class="mandatory" for="username">Usuario</label>
			{{ form.username(class="form-control med", autocomplete="false", maxlength=user.username.max_length, style="text-transform:lowercase;") }}
			{% for error in form.username.errors %}
				<script>
					$('#username').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
		</div>
		</div>
		<div class="row">
		<div class="form-group col-sm-6">
			<label for="name">Nombre</label>
				{{ form.name(class="form-control", maxlength=user.name.max_length) }}
				{% for error in form.name.errors %}
					<script>
						$('#name').addClass('is-invalid')
					</script>
					<div class="invalid-feedback">{{error}}</div>
				{% endfor %}
		</div>
		<div class="form-group col-sm-6">
			<label for="last-name">Apellido(s)</label>
			{{ form.last_name(class="form-control", maxlength=user.last_name.max_length) }}
			{% for error in form.last_name.errors %}
				<script>
					$('#last_name').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
		</div>
		</div>

		<div class="row">
		<div class="form-group col-sm-6">
			<label for="nf-email">Email</label>
			{{ form.email(class="form-control", maxlength=user.email.max_length, style="text-transform:lowercase") }}
			{% for error in form.email.errors %}
				<script>
					$('#email').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
		</div>
		<div class="form-group col-sm-6">
			<label class="mandatory" for="role">Rol</label>
			{{ form.role(class="form-control") }}
			{% for error in form.role.errors %}
				<script>
					$('#role').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-6">
			<label class="mandatory" for="nf-password">Contraseña</label>
			{{ form.password(class="form-control", autocomplete="new-password") }}
			{% for error in form.password.errors %}
				<script>
					$('#password').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
			</div>
			<div class="form-group col-sm-6">
			<label class="mandatory" for="nf-password">Confirmar Contraseña</label>
			{{ form.password_confirm(class="form-control",
			autocomplete="new-password") }}
			{% for error in form.password_confirm.errors %}
				<script>
					$('#password_confirm').addClass('is-invalid')
				</script>
				<div class="invalid-feedback">{{error}}</div>
			{% endfor %}
			</div>
		</div>
		<div style="text-align: right;">
			<p>(<span style="color: #d41616;">*</span> Campo requerido)</p>
		</div>

	</div>
	<div class="modal-footer">
		<a href="{{ url_for('admin.admin_users') }}" class="btn btn-secondary"  data-dismiss="modal">Cancelar</a>
		<button class="btn btn-info" type="submit" id="confirm-btn">Confirmar</button>
	</div>
</form>

<script>

$(function(){

	// Spinner
	const confirmBtn = document.getElementById('confirm-btn');
	confirmBtn.addEventListener('click', (click) => {
		displayLoader(click.target, 'Guardando')
		click.target.setAttribute('disabled','disabled')
		document.getElementById('form').submit()
	})

  })

</script>

{% endblock %}
